body {
  font-family: sans-serif;
  margin: 0 auto;
  padding: 25px;  
  background-image: url("../images/dario.jpg");
  /* background-color: black; */
  text-align: center;
}

.dictionary2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2% 3%;
  max-width: 95%;  
  float: left;
}
.card2 {
  border-radius: 25px;
  position: relative;
  padding: 35px 15px;
  background-color: #00cecb00;
  margin: 30px 0 30px 0;
  height: 200px;
  box-shadow: 0 2px 6px rgba(238, 232, 232, 0.966);
  /* text-align: left;  */
  max-width: 400px;
  min-width: 400px;
}

video, .video2{
  margin-top: -46px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  align-items: center;
  width:100%;
  position: relative;
  z-index: 9;
}
.video3{
  margin-top: -16px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  align-items: center;
  width:100%;
  position: relative;
  z-index: 9;
}

.pointer {
  align-items: center;
  color: antiquewhite;
  position: relative;  
  text-decoration: none;
  top: 2%;
}
img {
  margin: 20px 20px -30px 25px;
}
.circle-img2 {
  border-radius: 50%;
  border: 7px solid rgb(255, 255, 255);
  text-overflow: 2px;
  width: 135px;
  height: 125px;
}