body {
  font-family: sans-serif;
  margin: 0 auto;
  padding: 25px;  
  background-image: url("../images/dario.jpg");
  /* background-color: black; */
  text-align: center;
}

.dictionary2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2% 3%;
  max-width: 95%;  
  float: left;
}
.card2 {
  border-radius: 25px;
  position: relative;
  padding: 25px 15px;
  background-color: #00cecb00;
  margin: 50px 0;
  height: 200px;
  box-shadow: 0 2px 6px rgba(238, 232, 232, 0.966);
  /* text-align: left;  */
  max-width: 400px;
  min-width: 400px;
}

video, .video2{
  margin-top: -46px;
  align-items: center;
  width: 100%;
}

.pointer {
  align-items: center;
  color: antiquewhite;
  position: relative;  
  text-decoration: none;
  top: 2%;
}