body {
  font-family: sans-serif;
  margin: 0 auto;
  padding: 25px;  
  /* background-image: url("../images/dario.jpg"); */
  background-color: rgba(57, 9, 88, 0.719);
  text-align: center;
}

.dictionary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2% 3%;
  max-width: 95%;  
  float: left;
}

.heading {
  text-align: center;
  text-shadow: 2px 4px rgb(77, 114, 114);
  font-size: 3.5em;
  color: #d8e7e5;
  margin: 20px 0 30px;
}

.card {
  border-radius: 25px;
  position: relative;
  padding: 25px 15px;
  background-color: #81ecec;
  margin: 50px 0;
  height: 200px;
  box-shadow: 0 2px 6px rgba(238, 232, 232, 0.966);
  text-align: start; 
  max-width: 400px;
  min-width: 400px;
}

.top {
  border-radius: 25px 25px 0 0;
  height: 100px;
  width: 100%;
  background-color: #00cec9;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  float: left;
}

.name {
  font-size: 2em;
  color: #0e584d;
  display: flex;
  flex: 2;
  margin: 10% 20px 0;
  position: relative;
  z-index: 1;
  width: 35%;
}

.card img {
  margin: 20px 30px 0 -40px;
}

.circle-img {
  border-radius: 50%;
  border: 7px solid rgb(255, 255, 255);
  text-overflow: 2px;
  width: 125px;
  height: 125px;
}

.bottom {
  margin-top: 120px;
  color: #034141;
}

.info {
  margin-top: 40px;
  padding-top: 20px;
  color: #034141;
  font-size: 1.1rem;
  margin-left: -18px;
}

button {
    -webkit-appearance: button-bevel;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: #f1f8f8;
    
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: -2px;
    text-shadow: none;
    display: inline-block;
    text-align: justify;
    align-items: flex-start;
    cursor: pointer;
    background-color: #00cecb00;
    box-sizing: content-box;
    margin: -17px -2.7em;
    font: 700 15px system-ui;
    padding: -19px -6px;
    border-width: 1px;
    border-style: solid;
    border-color: #00cecb00;
    border-image: initial;
    position: relative;
    z-index: 0;
   left: -10%;
   top: 67%;
    
}
@media only screen and (max-width: 600px){

body {
  font-family: sans-serif;
  margin: 0 auto;
  padding: 20px;  
  background-image: url("../images/dario.jpg");
  background-color: rgba(27, 27, 27, 0.863);
  text-align: center;
}

.card {
  border-radius: 20px;
  position: relative;
  padding: 20px 0px;
  background-color: #81ecec;
  margin: 20px 0;
  height: 180px;
  box-shadow: 0 2px 6px rgba(238, 232, 232, 0.966);
  text-align: start; 
  max-width: 280px;
  min-width: 280px;
}
.dictionary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1% 1%;
  max-width: 75%;  
  float: left;
}

}
  
